---
import { Image } from "astro:assets";
import heroImage from "../../assets/benedikt_ritter.jpg";
import { basic } from "../../config/cv.json";
---

<section class="px-4 py-5 sm:py-10 lg:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="relative flex justify-center">
        <Image
          class="w-full rounded-xl md:max-w-md lg:max-w-md"
          src={heroImage}
          alt="Profile picture of Benedikt Ritter"
        />
      </div>
      <div>
        <p class="text-lg text-offset">
          {basic?.job}
        </p>

        <h1 class="mt-3 text-2xl font-bold sm:text-4xl lg:text-5xl">
          {basic?.name}
        </h1>

        <p class="mt-5 text-base sm:text-xl">
          {basic?.summary}
        </p>

        <div class="mt-10 sm:flex sm:items-center sm:space-x-8">
          <a
            href=`/cv/${basic?.cv_file_name}`
            title="Download CV"
            download
            class="inline-flex items-center justify-center rounded bg-primary px-10 py-4 text-base font-semibold text-white transition-all duration-200 hover:bg-secondary focus:bg-secondary"
            role="button"
          >
            Download CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
