---
import CardListItem from "./CardListItem.astro";

interface Item {
  title: string;
  sub_title: string;
  years: string;
  details?: string;
}

const { title, items } = Astro.props;
---

<section class="bg-background py-14">
  <div class="container mx-auto px-4">
    <h2 class="mb-12 text-center text-3xl font-semibold lg:text-4xl">
      {title}
    </h2>

    <ul class="space-y-8">
      {
        items.map((item: Item) => (
          <CardListItem
            title={item.title}
            sub_title={item.sub_title}
            years={item.years}
            details={item?.details}
          />
        ))
      }
    </ul>
  </div>
</section>
