---
const { imageUrl, title, type, link, image } = Astro.props;

type ImageModule = { default: { src: string } };
const images = import.meta.glob("../assets/*.jpg") as Record<
  string,
  () => Promise<ImageModule>
>;
const imageSrc =
  image && images[`../assets/${image}.jpg`]
    ? (await images[`../assets/${image}.jpg`]()).default.src
    : null;
---

<a href={link} rel="noopener noreferrer">
  <div
    class="group h-64 cursor-pointer overflow-hidden rounded-lg bg-cover"
    style={`background-image:url('${imageUrl ? imageUrl : imageSrc}')`}
  >
    <div
      class="flex h-full w-full flex-col justify-center bg-gray-800/60 px-8 py-4 opacity-100 backdrop-blur-sm"
    >
      <h2 class="mt-4 text-xl font-semibold text-white">{title}</h2>
      <p class="mt-2 text-lg uppercase tracking-wider text-primary">{type}</p>
    </div>
  </div>
</a>
