---
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";
import "../styles/index.css";
import Contact from "../components/contact/Contact.astro";
import defaultImage from "../assets/benedikt_ritter.jpg";

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}

const {
  title,
  description,
  image = defaultImage.src,
  type = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <!-- social preview -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description ? description : title}
    />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content={type} />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/feed.xml"
    />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", event => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="bg-default text-default selection:bg-secondary flex h-full flex-col overflow-x-hidden text-base"
  >
    <Header />
    <section class="flex-grow">
      <slot />
    </section>
    <Contact />
    <Footer />
  </body>
</html>
